@import 'styles/colors.scss';

.button {
  display: inline;
  min-width: 120px;
  border: none;
  padding: 0.8rem 1rem;
  background-color: $primary-piggy-pink;
  margin: 1rem 0;
  border-radius: 1.5rem;
  transition: 0.2s;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: darken($primary-piggy-pink, 5%);
  }
  &:disabled {
    background-color: rgb(230, 230, 230);
  }
}